
@{
    Layout = null;
}
@model WebApplicationDemo.Models.Student

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DeleteStudent</title>
</head>
<body>
    <h1>Delete Page</h1>
    <br />
    @Model.FirstName
    <br />
    @Model.LastName
    <br />
    @Model.StudentEmail

    <br />

</body>
</html>
